* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(70, 70, 70, 0.525);
}

.continer {
  position: relative;
  margin: 250px auto;
  width: 1280px;
  height: 90px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  position: absolute;
  width: 1280px;
  height: 70px;
  border-left: 2px solid black;
  background-color: #fff;
  transition: all 3s ease;

}
.continer:hover .box {
  transform: translateX(1280px);
}
